-r requirements.txt
bumpversion==0.5.3
celery==4.3.0
coveralls==1.8.2
Django==2.2.7
django_celery_beat==1.5.0
flake8==3.7.9
freezegun==0.3.12
ipython==7.9.0
mock==3.0.5
pip-check==2.5.2
psycopg2==2.8.4
